[submodule "rt_manipulators_cpp"]
	path = rt_manipulators_cpp
	url = https://github.com/rt-net/rt_manipulators_cpp.git
[submodule "crane_x7_ros"]
	path = crane_x7_ros
	url = https://github.com/rt-net/crane_x7_ros.git
[submodule "third_party/crane_x7_description"]
	path = third_party/crane_x7_description
	url = https://github.com/rt-net/crane_x7_description.git
[submodule "third_party/DynamixelSDK"]
	path = third_party/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "third_party/zeda"]
	path = third_party/zeda
	url = https://github.com/mi-lib/zeda.git
[submodule "third_party/zm"]
	path = third_party/zm
	url = https://github.com/mi-lib/zm.git
[submodule "third_party/zeo"]
	path = third_party/zeo
	url = https://github.com/mi-lib/zeo.git
[submodule "third_party/roki"]
	path = third_party/roki
	url = https://github.com/mi-lib/roki
[submodule "third_party/roki-fd"]
	path = third_party/roki-fd
	url = https://github.com/mi-lib/roki-fd.git
[submodule "third_party/roki-gl"]
	path = third_party/roki-gl
	url = https://github.com/mi-lib/roki-gl.git
[submodule "mi-lib-tutorial"]
	path = mi-lib-tutorial
	url = https://github.com/mi-lib/mi-lib-tutorial
[submodule "third_party/zx11"]
	path = third_party/zx11
	url = https://github.com/mi-lib/zx11.git
[submodule "third_party/liw"]
	path = third_party/liw
	url = https://github.com/mi-lib/liw.git
[submodule "third_party/dzco"]
	path = third_party/dzco
	url = https://github.com/mi-lib/dzco.git
