[submodule "rt_manipulators_cpp"]
	path = third_party/rt_manipulators_cpp
	url = https://github.com/rt-net/rt_manipulators_cpp.git
[submodule "crane_x7_ros"]
	path = third_party/crane_x7_ros
	url = https://github.com/rt-net/crane_x7_ros.git
[submodule "third_party/crane_x7_description"]
	path = third_party/crane_x7_description
	url = https://github.com/rt-net/crane_x7_description.git
[submodule "third_party/DynamixelSDK"]
	path = third_party/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "mi-lib-tutorial"]
	path = third_party/mi-lib-tutorial
	url = https://github.com/mi-lib/mi-lib-tutorial
[submodule "third_party/mi-lib"]
	path = third_party/mi-lib
	url = https://github.com/hrshtst/mi-lib.git
